@charset "UTF-8";

:root {
  --primary: #212529;
  --secondary: #2d3339;
  --terciary: #363d45;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 34rem;
}

.oscar-statue {
  background: url("../images/oscar-512.png") center center no-repeat;
  background-size: contain;
  width: 10rem;
}

.main-title h1 {
  font-weight: bolder;
  font-size: 4rem;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 125px;
  box-shadow: -4px 9px 0px 0px #161616;
}

.play-btn:active {
  box-shadow: none;
}

.details-btn:active {
  border: none;
}

.login-layout {
  background-color: var(--secondary);
  border-radius: 15px;
  width: 400px;
}

.oscar-statue-sm {
  background: url("../images/oscar-512.png") center center no-repeat;
  background-size: contain;
  height: 4rem;
  width: 4rem;
}

.invalid-feedback {
  font-size: 12px;
}

.predictions {
  height: 100%;
  display: block;
}

.oscar-img {
  height: 15rem;
}

.fixed-alert {
  position: fixed;
  right: 2%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .description,
  .play-btn,
  .details-btn,
  .predictions {
    font-size: 14px;
  }

  .login-layout {
    width: 80%;
  }

  .oscar-img {
    height: 23rem;
  }
}
