<% if (error.length >= 1) { %>
  <div class="constainer-fluid alert alert-danger my-3" role="alert">
    <%= error[0] %>
  </div>
<% } %>

<% if (success.length >= 1) { %>
  <div class="constainer-fluid alert alert-success my-3" role="alert">
    <%= success[0] %>
  </div>
<% } %>
