<ul class="nav justify-content-end fixed-top m-2">
  <li class="nav-item">
    <a class="nav-link link-secondary" href="/salas">Salas</a>
  </li>

  <li class="nav-item">
    <a class="nav-link link-secondary" href="/previsoes">Previsões</a>
  </li>

  <li class="nav-item">
    <a class="nav-link link-secondary" href="/logout">Sair</a>
  </li>
</ul>
