<%- include("includes/head") %>

<body class="vh-100 d-grid grid-center">
  <div class="d-flex flex-column align-items-center">
    <div class="nothing mb-5"></div>
    <p class="lead">A página que você está procurando não existe</p>
  </div>

<%- include("includes/footer") %>
