<%- include("includes/head") %>

<body class="predictions p-4">
  <main>
    <div class="mb-5">
      <h1 class="fw-bold">Faça suas previsões</h1>
      <small
        ><strong>Atenção!</strong> Essa votação valerá para todas as salas e
        será feita apenas uma vez</small
      >
    </div>

    <form>
      <h2 class="fs-3 mb-4">Melhor Ator</h2>
      <div class="row">
        <div class="col">
          <label class="d-inline-flex gap-1 align-items-center mb-2"
            ><input
              type="radio"
              name="Melhor Ator"
              value="Bradley Cooper"
              class="actor"
            />Bradley Cooper - Maestro</label
          >
          <br />
          <label class="d-inline-flex gap-1 align-items-center mb-2"
            ><input
              type="radio"
              name="Melhor Ator"
              value="Colman Domingo"
              class="actor"
            />Colman Domingo - Rustin</label
          >
          <br />
          <label class="d-inline-flex gap-1 align-items-center mb-2"
            ><input
              type="radio"
              name="Melhor Ator"
              value="Paul Giamatti"
              class="actor"
            />Paul Giamatti - Os Rejeitados</label
          >
          <br />
          <label class="d-inline-flex gap-1 align-items-center mb-2"
            ><input
              type="radio"
              name="Melhor Ator"
              value="Cillian Murphy"
              class="actor"
            />Cillian Murphy - Oppenheimer</label
          >
          <br />
          <label class="d-inline-flex gap-1 align-items-center mb-2"
            ><input
              type="radio"
              name="Melhor Ator"
              value="Jeffrey Wright"
              class="actor"
            />Jeffrey Wright - American Fiction</label
          >
          <br />
        </div>
        <div class="col">
          <img src="" alt="" />
        </div>
      </div>
    </form>
  </main>

  <%- include("includes/footer") %>
</body>
