<%- include("includes/head") %>

<body>
  <%- include("includes/nav") %> <%- include("includes/flash") %>

  <main class="rooms-container">
    <section>
      <form action="/rooms/create" method="POST">

        <div class="mb-3">
          <label for="username" class="form-label">Nome de Usuário</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            autocomplete="off"
          />
        </div>

        <button type="submit" class="btn btn-primary">Criar</button>
      </form>
    </section>
  </main>

<%- include("includes/footer") %>
